[layer-id="user-settings"] .userSettingsAccount-2eMFVR ~ :last-child:after{
  margin-bottom: -3px;
  padding-top: 10px;
  padding-left: 10px;
  display: block;
  background:transparent;
  border:1px solid var(--Main-Colour);
  border-radius: 5px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 200" style="width:100%;height:100px;"><g style="fill: lime; font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: lime;">Links</text><text y="45" style="font-size: 1.1em;" x="37">Github Link: https://git.io/v7ovg</text><text y="65" style="font-size: 1.1em;" x="37">Support Server Link: https://discord.gg/aSyUs69</text><text y="85" style="font-size: 1.1em;" x="37">My Twitch: https://twitch.tv/NFLD99</text><text y="115" style="font-size: 2em; fill: lime;">Change Log</text><text y="140" style="font-size: 1.1em;" x="37">1.Fixed roles scroll.</text><text y="160" style="font-size: 1.1em;" x="37">2.Fixed user typing in DMs.</text><text y="180" style="font-size: 1.1em;" x="37">3.Fixed login screen.</text></g></svg>');
  animation: CLog 10s infinite linear;
}

.theme-dark .ui-standard-sidebar-view {
  background: var(--Settings-Background) 50% 50%/cover !important;
}

#app-mount > div.app-19_DXt.platform-win > div > div.layers-3iHuyZ.flex-vertical.flex-spacer > div:nth-child(2) > div > div.content-region > div > div > div > div.content-column.default > div > div.userSettingsAccount-2WOnTW > div > div > div > div:nth-child(2) > div:nth-child(2) > div, .multiInput-1e2xJ7 {
  transition: filter .15s ease-in-out;
}
#app-mount > div.app-19_DXt.platform-win > div > div.layers-3iHuyZ.flex-vertical.flex-spacer > div:nth-child(2) > div > div.content-region > div > div > div > div.content-column.default > div > div.userSettingsAccount-2WOnTW > div > div > div > div:nth-child(2) > div:nth-child(2) > div:not(:hover), .multiInput-1e2xJ7:not(:hover) {
  filter: blur(6px); 
}

.emojiPicker-3m1S-j .no-search-results,.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg{
  color: var(--Main-Colour);
}


userSettingsAccount-2eMFVR > div > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2):hover {
  transition: filter .15s ease-in-out;
}

.userSettingsAccount-2eMFVR > div > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2):not(:hover) {
  filter: blur(6px); 
}

/* Tags */
span.botTagRegular-2HEhHi {
  background-color: rgba(0,216,86, 0.8) !important;
  animation: rainbow 20s infinite linear;
}

.kawaii-tag {
  background: #7289da;
  font-size: 10px;
  font-weight: 600;
  color: #fff!important;
  margin-left: 6px;
  padding: 1px 2px;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: bottom;
  line-height: 16px;
  flex-shrink: 0;
  animation: rainbow 20s infinite linear;
}

.compact .kawaii-tag {
  margin: 0 3px 0 0;
}

.kawaii-tag-bright {
  color: #23272A!important;
}

.kawaii-tag-invert {
  background: #fff;
  color: #7289da!important;
}

/* nitro thing */
.member.member-status > .avatar-small[style*="a_"] + .member-inner .member-username:after {
  content: '✔';
  color: lime;
  margin-left: 5px;
  background: transparent;
  line-height: 15px;
  height: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  border-radius: 3px;
  margin-left: 6px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 600;
  animation: rainbow 3s infinite linear;
}

.channel-members-loading .background {
  background: var(--Main-Colour);
  opacity:.1;
  animation: rainbow 2.8s infinite linear;
}

.message-group .comment .markup .mention, .nameHovered-28u_Fz, .nameSpeaking-3ROx9q, .nameDefault-2s3kbY {
  color: var(--Main-Colour) ;
  animation: rainbow 3s infinite linear;
}

/* Search */

.typing{
  text-shadow: 0 0 6px Black, 0 0 6px Black, 0 0 5px Black, 0 0 4px Black;
  background: rgba(216,0,86,var(--Tpying-Rainbow)) !important;
  animation: rainbow 3s infinite linear;
  border-radius: 5px !important;
}

.text-1rI06-{
  text-shadow: 0 0 6px Black, 0 0 6px Black, 0 0 5px Black, 0 0 4px Black;
  background: rgba(216,0,86,var(--Tpying-Rainbow)) !important;
  animation: rainbow 3s infinite linear;
  border-radius: 5px !important;
  color:var(--Main-Colour)!important;
  bottom:-7px!important;
}

.botTagInvert-18-95s{
  background-color: rgba(0,216,86, 0.8) !important;
  animation: rainbow 20s infinite linear;
}

.placeholder-oNR4zO.member-3W1lQa {
  -webkit-animation: none!important;
  animation: rainbow 10s ease-in-out infinite!important;
}
