@keyframes CLog {
  from {
  -webkit-filter: hue-rotate(0deg);
  }

  to {
  -webkit-filter: hue-rotate(360deg);
  }
}

.theme-dark .ui-standard-sidebar-view .content-region, .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view .sidebar-region, .ui-standard-sidebar-view .sidebar-region{
  background: rgba(0,0,0,var(--Background-Brightness)) !important;
}

.theme-dark .ui-standard-sidebar-view {
  background: var(--Settings-Background) 50% 50%/cover !important;
}

.callout-backdrop,.modal-1UGdnR,.header-2BwW8b,.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background: rgba(0, 0, 0, var(--Background-Brightness))!important;
}

.backdrop-1ocfXc{
  background: var(--Callout-Background) 50% 50%/cover !important;
}

#app-mount > div.app-19_DXt.platform-win > div > div.layers-3iHuyZ.flex-vertical.flex-spacer > div:nth-child(2) > div > div.content-region > div > div > div > div.content-column.default > div > div.userSettingsAccount-2WOnTW > div > div > div > div:nth-child(2) > div:nth-child(2) > div, .multiInput-1e2xJ7 {
  transition: filter .15s ease-in-out;
}
#app-mount > div.app-19_DXt.platform-win > div > div.layers-3iHuyZ.flex-vertical.flex-spacer > div:nth-child(2) > div > div.content-region > div > div > div > div.content-column.default > div > div.userSettingsAccount-2WOnTW > div > div > div > div:nth-child(2) > div:nth-child(2) > div:not(:hover), .multiInput-1e2xJ7:not(:hover) {
  filter: blur(6px); 
}

.emojiPicker-3m1S-j .no-search-results,.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg{
  color: var(--Main-Colour);
}


userSettingsAccount-2eMFVR > div > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2):hover {
  transition: filter .15s ease-in-out;
}

.userSettingsAccount-2eMFVR > div > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2):not(:hover) {
  filter: blur(6px); 
}
