/* Username*/
.container-2Thooq {background:transparent !important;}
.accountDetails-3k9g4n .username {
	font-family:'satisfy';
	font-weight:800 !important;
	color:var(--hover-color);
}
@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
.button-2b6hmh:hover .buttonInner-LmnaN_ {
    animation:4s spin linear infinite;
}
.accountDetails-3k9g4n {text-align: center;}
.accountDetails-3k9g4n .username {max-width:unset !important;}
.da-accountDetails .username {
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  font-weight:500;
}
.container-2Thooq .avatar-3JE4B3 {
  transition:250ms all linear;
}
.da-channels:hover .container-2Thooq .avatar-3JE4B3 {
  transform:scale(1.1);
}
.container-2Thooq .button-2b6hmh {
    transition:250ms ease all;
    border-radius:var(--media-roundness);
}
.container-2Thooq .button-2b6hmh:hover {
    background-color:rgba(255,255,255,0.1);
}
.container-2Thooq .button-2b6hmh:active {
    background-color:var(--main-color-faded);
}
.container-2Thooq .avatar-3JE4B3:hover .da-online:after {
    content:'Online';
    position:absolute;
    color:#dcddde;
    background:var(--main-color);
    border-radius:5px;
    animation: fadebottom 150ms;
    padding:8px 12px;
    font-size:14px;
    bottom:38px;
    left:-9px;
    font-weight:500;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container-2Thooq .avatar-3JE4B3:hover .da-idle:after {
    content:'Idle';
    position:absolute;
    color:#dcddde;
    background:var(--main-color);
    border-radius:5px;
    animation: fadebottom 150ms;
    padding:8px 12px;
    font-size:14px;
    bottom:38px;
    left:-9px;
    font-weight:500;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container-2Thooq .avatar-3JE4B3:hover .da-dnd:after {
    content:'DnD';
    position:absolute;
    color:#dcddde;
    background:var(--main-color);
    border-radius:5px;
    animation: fadebottom 150ms;
    padding:8px 12px;
    font-size:14px;
    bottom:38px;
    left:-9px;
    font-weight:500;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container-2Thooq .avatar-3JE4B3:hover .da-invisible:after {
    content:'Invisible';
    position:absolute;
    color:#dcddde;
    background:var(--main-color);
    border-radius:5px;
    animation: fadetop 150ms;
    padding:8px 12px;
    font-size:14px;
    bottom:38px;
    left:-9px;
    font-weight:500;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container-2Thooq .avatar-3JE4B3:hover {
    opacity:1;
}
.container-2Thooq .avatar-3JE4B3 {
  transition:250ms all linear;
}