[layer-id="user-settings"] .userSettingsAccount-2eMFVR ~ :last-child:after{
  margin-bottom: -3px;
  padding-top: 10px;
  padding-left: 10px;
  display: block;
  background:transparent;
  border:1px solid var(--Main-Colour);
  border-radius: 5px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 200" style="width:100%;height:100px;"><g style="fill: lime; font-size: .8em; font-family:verdana"><text y="20" style="font-size: 2em; fill: lime;">Links</text><text y="45" style="font-size: 1.1em;" x="37">FB Link: https://goo.gl/UUXCAu</text><text y="65" style="font-size: 1.1em;" x="37">Discord Link: https://discord.gg/7Vewjg7</text><text y="85" style="font-size: 1.1em;" x="37">Steam: https://goo.gl/YhxSRz</text><text y="115" style="font-size: 2em; fill: lime;">Change Log</text><text y="140" style="font-size: 1.1em;" x="37">1.Fixed roles scroll.</text><text y="160" style="font-size: 1.1em;" x="37">2.Fixed user typing in DMs.</text><text y="180" style="font-size: 1.1em;" x="37">3.Fixed login screen.</text></g></svg>');
  animation: CLog 10s infinite linear;
}
