:root {
  --Popout-Main-Colour: rgba(0, 226, 204, 1);
  --Popout-Text-Shadow-Colour:rgba(0,0,0, .45);
}


/* User Status 2 */
/* DND */
.statusDnd-2DDKST:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #f04747!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* ONLINE */
.statusOnline-1FlpW_:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #43b581!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* AWAY */
.statusIdle-1XoSCz:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #faa61a!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* STREAM */
.statusStreaming-2eqoUF:not(.statusProfile-3ynqtt) {
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #593695!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
    animation: pulse 3s linear infinite !important;
}
/* OFFLINE */
.avatarOffline-3GF27z:not(.statusProfile-3ynqtt){
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #747f8d!important;
    border-radius: 5px !important;
}
.statusOffline-3R-4Bv:not(.statusProfile-3ynqtt){
    width: 115%!important;
    height: 115%!important;
    box-sizing: border-box;
    top: -6.3%!important;
    left: -7.3%!important;
    border: 2.5px solid #747f8d!important;
    border-radius: 5px !important;
	background:none;
	opacity: 1 !important;
}
/* User Status 2 */

.image-33JSyf, .status-oxiHuE {
    border-radius: 0%;
}

.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}

.header-2BwW8b {
    color: var(--Popout-Main-Colour);
    line-height: 20px;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
    color: var(--Popout-Main-Colour);
}

.theme-dark .footer-1fjuF6 {
    display:none;
}

.userPopout-3XzG_A {
    background: var(--Popout-Background);
}

.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881,.headerTag-2pZJzA,.bodyTitle-Y0qMQz,.theme-dark .note-3kmerW textarea{
	color: var(--Popout-Main-Colour)!important;
}

.theme-dark .note-3kmerW textarea:focus {
    background-color: var(--S-Colour);
}

.headerSpotify-zpWxgT,.headerPlaying-j0WQBV,.headerStreaming-2FjmGz {
    background: transparent;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-color: var(--M-Colour);
	color: var(--M-Colour);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    border-color: var(--Main-Colour);
	color: var(--Main-Colour);
}

/* New UserPopouts */

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
